body {
    font-family: Arial  ,sans-serif;
    margin:20px;
    }
h1{
    text-align:center;
    padding:20px;
    color:#333 ;
}
.product-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit ,minmax(250px,1fr));  /*-fit auto adjust columns */
    gap:20px;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}
.product-card{
    background:#fff;
    border: 1px solid #ddd;
    border-radius:10px;
    padding: 15px;
    text-align:center;
}
.product-card:hover{
    transform:scale(1.05);
    box-shadow:0 4px 12px salmon;
}
.product-card img{
    width:100%;
    height:250px;
    object-fit: cover;
    border-radius: 8px;
}
.product-card h3{
    margin:15px 0 10px;
    font-size: large;
    color: azure;
}
.product-card p{
    font-size: 18px;
    color: black;
}
.price{
    font-size:18px;
    color:green;
    font-weight:bold;
    margin:10px 0;
}
.btn{
    display:inline-block;
    padding: 10px 15px;
    margin-top: 10px;
    background:rebeccapurple;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}
.btn:hover{
    background: azure;

}
@media (max-width:600px) {
    .product-card img{
        height:150px;

    }
    .product-card h3{
        font-size:16px;
    }
    .product-card p{
        font-size: 12px;
    }
    
}
@media (min-width:601px) and(max-width:1024px) {
    .product-card img{
        height: 180px;

    }
    .product-card h3{
        font-size: 18;
    }
    
}