body{ 
    font-family:Arial, sans-serif;
    background-color:#acaca0;
    text-align:center;
    margin:20px;
}
h1{
    color:black;
    margin-bottom: 30px;
}
.product-box{
    background-color: white;
    width:300px;
    margin:0 auto;
    padding:15px;
    border:2px solid gray;
    border-radius: 8px;

}
.product-box img {
    width:100%;
    height:auto;
    border-radius: 5px;
}
.product-box h2{
    color:black;
    font-size:20px;
    margin-top:10px 0;

}
.desription{
    
}

}

